body {
  background-color: lightgray;
}
.bigMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.littleMain {
  display: inline-flex;
  height: 80vh;
  width: 95vw;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 35vw;
  height: 60vh;
  border: solid 1px;
}

.tasks {
  width: 85vw;
  border: solid 1px;
  margin-top: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.todo {
  border: solid 1px;
  width: 27vw;
  height: 71vh;
  margin: .5vw;
  background: linear-gradient(rgba(245, 150 ,0,.5),rgba(255, 151 ,0,.7));
}

.icebox {
  border: solid 1px;
  width: 27vw;
  height: 71vh;
  margin: .5vw;
  background: linear-gradient(rgba(141, 240 ,242,.7), rgba(81, 180 ,182,.7));
}

.done {
  border: solid 1px;
  width: 27vw;
  height: 71vh;
  margin: .5vw;
  background: linear-gradient(rgba(217, 99 ,89,.7), rgba(150, 50 ,49,.7));
}
@-ms-viewport{
  width: device-width;
}
